body{
    background-color: #e7f1ff;
    background-image: url(image/gn.jpg);
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 2px;
    line-break: auto;
    margin: 0;

}
.button{
    display: inline block;
    
    color: #fff;
    padding: 10px 15px;
    width: 125px;
    margin: 10px auto;
    border-radius: 3px;
}
.button:active,
.button:hover{
    background: #5558c9;
    color: rgb(245, 226, 226);
    cursor: pointer;
}
.wrapper{
    width: 100%;
    height: 100%;
    
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: rgb(61, 59, 59);
    color: lavenderblush;
    text-align: center;
    font-family: cursive;
    
}

#navbar{
    background-color: rgb(116, 126, 129);
    padding: 0;
    color: mintcream;
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    
}
#navbar ul{
    padding: 0;
    list-style: none;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: rgb(238, 237, 236);
    text-decoration: none;
    font-size: 20px;
    padding: 50;
    
}
.contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 140px;
    background-color: #444;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.column {
    float: left;
    width: 350px;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.fas{
    font-size: 32px;
    color: coral;
    transition: 0.3s linear;
    opacity: 0.7;
    
    
}
.fab{
    font-size: 32px;
    color: coral;
    transition: 0.3s linear;
    opacity: 0.7;
      
}

.row .fas:hover{
    transform: scale(5);
    opacity: 0;
}
.row .fab:hover{
    transform: scale(3);
    opacity: 0;
    
}

.card-content h3,
.card-content span{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;
    opacity: 0;
}

.card-content h3{
    top: 20px;
    text-transform: uppercase;
    color: coral;
}

.card-content span{
    bottom: 20px;
    color: cornsilk;
    font-weight: 500;
    
}


.card:hover h3{
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
    
}
.card:hover span{
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}
#main-footer{
    background-color: grey;
    opacity: 0.9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    margin-top: 32.5px;
}



@media screen and (max-width:900px){
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .card{
    flex: 100%;
    max-width: 500px;
    }
    #main{
        width: 100%;
        float: none;
}




